{% extends 'Base/Base.html' %}

{% block title %}
Catálogo De Puestos | WASP - TOO115
{% endblock %}

{% block extrastatic %}
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
{% endblock %}

{% block contentHeader %}
Unidad Organizacional
{% endblock %}


{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ingrese los datos de la nueva unidad organizacional</h3>
    </div>
    <!-- Datos a ingresar para el formulario -->
    <form role="form" method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <!-- Traemos el formulario que se creo en la app -->
                {{ form.nombreUnidad }}
            </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Descripción</label>
            {{ form.descripUnidad }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Rol</label>
            <!-- Aca traemos la lista de roles  con su respectivo nombre -->
            {{ form.idRol }}                            
        </div>        
        </div>
        <div class="card-footer">
            <!-- Se guardan los datos ingresados -->
            <a href="{% url 'index unidad' %}"><button type="button" class="btn btn-info"><i class="fas fa-save"></i>Guardar</button></a>
        </div>        
    </form>
</div>
{% endblock content %}
    
