{% extends 'Base/Base.html' %}

{% block title %}
Catálogo De Puestos | WASP - TOO115
{% endblock %}

{% block extrastatic %}
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
{% endblock %}

{% block contentHeader %}
Formulario De Puestos De Trabajo:
{% endblock %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">General</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form role="form" method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        {{ form.nombreRol }}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        {{ form.descripRol }}
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-info"><i class="fas fa-save"></i> Guardar</button>
    </div>
  </form>
</div>

<div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Acceso</h3>
              </div>
              <!-- /.card-header -->
            <form role="form" method="post" id="control-acceso" value="{{ my_data }}">
              {% csrf_token %}
              <div class="card-body">
                  <ul class="products-list product-list-in-card pl-2 pr-2">
                    <div class="form-group">
                      <label for="customRange1"><h3>Catálogo De Puestos De Trabajo</h3></label>
                    </div>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="1" class="custom-control-input" id="customSwitch1" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch1">Consultar Puesto de Trabajo</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="2" class="custom-control-input" id="customSwitch2" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch2">Crear Puesto de Trabajo</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="3" class="custom-control-input" id="customSwitch3" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch3">Modificar Puesto de Trabajo</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="4" class="custom-control-input" id="customSwitch4" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch4">Eliminar Puesto de Trabajo</label>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <ul class="products-list product-list-in-card pl-2 pr-2">
                    <div class="form-group">
                      <label for="customRange1"><h3>Unidades Organizacionales</h3></label>
                    </div>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="5" class="custom-control-input" id="customSwitch5" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch5">Consultar Unidades Organizacionales</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="6" class="custom-control-input" id="customSwitch6" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch6">Crear Unidades Organizacionales</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="7" class="custom-control-input" id="customSwitch7" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch7">Modificar Unidades Organizacionales</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="8" class="custom-control-input" id="customSwitch8" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch8">Eliminar Unidades Organizacionales</label>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <ul class="products-list product-list-in-card pl-2 pr-2">
                    <div class="form-group">
                      <label for="customRange1"><h3>Usuarios</h3></label>
                    </div>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="9" class="custom-control-input" id="customSwitch9" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch9">Consultar Usuarios</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="10" class="custom-control-input" id="customSwitch10" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch10">Modificar Usuarios</label>
                        </div>
                      </div>
                    </li>
                    <li class="item">
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" value="11" class="custom-control-input" id="customSwitch11" onclick="cambiar(this.id)" unchecked>
                          <label class="custom-control-label" for="customSwitch11">Eliminar Usuarios</label>
                        </div>
                      </div>
                    </li>
                  </ul>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-info"><i class="fas fa-save"></i> Guardar</button>
              </div>
              </form>
              <!-- /.card-body -->
            </div>
            <script type="text/javascript">
                //se declara un array con los ids de todos los switches que hay en la vista para mayor facilidad
                var switches = ["customSwitch1","customSwitch2","customSwitch3","customSwitch4","customSwitch5","customSwitch6","customSwitch7","customSwitch8","customSwitch9","customSwitch10","customSwitch11","customSwitch12",];
                //La lista de control de acceso se pasa a traves de un atributo de una etiqueta HTML con un id especifico
                //y se recoge aqui, al mismo tiempo que se serializa en JSON para poder obtener sus datos.
                var element = document.getElementById("control-acceso");
                var arreglo = element.getAttribute("value");

                //Aqui se recorren los datos de la lista de control de acceso y se pintan en la vista para mostrar
                //los permisos habilitados-deshabilitados
                if(arreglo != ""){
                  var obj = JSON.parse(arreglo);
                  for(var a=0;a<obj.length;a++){
                    var item = obj[a].fields.idOpcion;
                    cambiar2("customSwitch"+item);
                  }
                }
                //por ultimo se verifica la lista
                validar();

                //Funcion que cambia el atributo del switch a checked-unchecked segun el ID que se especifica
                function cambiar(id){
                  //var part = $('#'+id).attr("unchecked");
                  //alert(part);
                  sw = document.getElementById(id);
                  if(sw.getAttribute("unchecked")==""){
                    sw.removeAttribute("unchecked");
                    sw.setAttribute("checked","");

                    actualizar_acceso(id, "checked");
                  }else{
                    sw.removeAttribute("checked");
                    sw.setAttribute("unchecked","");

                    actualizar_acceso(id, "unchecked");
                  }
                  //Se valida solo en el caso que los switches correspondientes a CREAR sean modificados
                  if(id == switches[0] || id == switches[4] || id == switches[8]){
                    validar();
                  }
                }

                function actualizar_acceso(id, estado){
                  var data = {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id, 'estado': estado}
                  $.post("{% url 'update acceso' %}", data, function(response){
                    if(response == 'success'){
                      //alert('yes');
                    }else{
                      alert('Ah ocurrido un error!');
                    }
                  });
                }

                //Esta es la misma funcion de cambiar, pero sin la verificacion al final
                function cambiar2(id){
                  sw = document.getElementById(id);
                  if(sw.getAttribute("unchecked")==""){
                    sw.removeAttribute("unchecked");
                    sw.setAttribute("checked","");
                  }else{
                    sw.removeAttribute("checked");
                    sw.setAttribute("unchecked","");
                  }
                }

                //La funcion validar se encarga de verificar si algun switch correspondiente a CREAR ha sido modificados
                //De ser así, deshabilita los switches de MODIFICAR,ACTUALIZAR y ELIMINAR.
                function validar(){
                  for(var i = 1;i <= 9;i++)
                  {
                    var sw = document.getElementById("customSwitch"+i);
                    if(sw.getAttribute("unchecked")==""){
                      for(var j = 1;j <= 3;j++){
                        var swx = document.getElementById("customSwitch"+(i+j));
                        swx.setAttribute("disabled","");
                      }
                    }else{
                      for(var j = 1;j <= 3;j++){
                        var swy = document.getElementById("customSwitch"+(i+j));
                        swy.removeAttribute("disabled","");
                      }
                    }
                    i=i+3;
                  }
                }
            </script>
{% endblock %}
