{% extends 'Base/Base.html' %}

{% block title %}
Catálogo De Puestos | WASP - TOO115
{% endblock %}

{% block extrastatic %}
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
{% endblock %}

{% block contentHeader %}
Formulario De Puestos De Trabajo:
{% endblock %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">General</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form role="form" method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        {{ form.nombreRol }}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        {{ form.descripRol }}
      </div>
    </div>
    <div class="card-footer">
      <a href="{% url 'acceso form' %}"><button type="submit" class="btn btn-info float-right"><i class="fas fa-arrow-right"></i> Siquiente</button></a>
    </div>
  </form>
</div>
{% endblock %}
