{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="row justify-content-center" style="background-color: rgb(255, 255, 255)">
      <img src="{% static 'WASP.png' %}" alt="AdminLTE Logo" style="width:50%">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if request.user.is_authenticated %}
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <!-- <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
          </ul>
        </li> -->
        <li class="nav-header">OPCIONES</li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.0" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>

        <!-- De aca en adelante se listan las opciones del nav para agregar -->
        <li class="nav-item" id="catalogo-puestos">
          <a href="{% url 'index roles' %}" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>Catálogo De Puestos</p>
          </a>
        </li>
        <li class="nav-item" id="unidad-organizacionial">
          <a href="{% url 'index unidad' %}" class="nav-link"> <!-- el href tiene que referenciar al nombre del url de nuestra app -->
            <i class="nav-icon fas fa-sitemap"></i> <!-- Icono a utilizar -->
            <p>Unidad Organizacional</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'Cuenta:Solicitudes' %}" class="nav-link"> <!-- el href tiene que referenciar al nombre del url de nuestra app -->
            <i class="nav-icon fas fa-paperclip"></i> <!-- Icono a utilizar -->
            <p>Solicitudes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'Cuenta:password_change' %}" class="nav-link"> <!-- el href tiene que referenciar al nombre del url de nuestra app -->
            <i class="nav-icon fas fa-key"></i> <!-- Icono a utilizar -->
            <p>Cambiar contraseña</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-globe-americas"></i>
            <p>
              Departamentos y Municipios
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'Cuenta:AdministrarDepartamentos' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Departamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'Cuenta:AdministrarMunicipios' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Municipios</p>
              </a>
            </li>
          </ul>
        </li>
        <!--

          NAV DE MULTI NIVEL


        <li class="nav-header">MULTI LEVEL EXAMPLE</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Level 1</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p>
              Level 1
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Level 2</p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Level 2
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        FIN DEL NAV DE MULTINIVEL
      -->
        <!-- <li class="nav-header">LABELS</li> -->
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Important</p>
          </a>
        </li> -->
        {% else %}
        <li class="nav-item">
          <a href="{% url 'NombreUsuario' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-in-alt" style='font-size:15px;color:white'></i>
            <p>Iniciar sesión</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'SignUp' %}" class="nav-link">
            <i class="nav-icon fa fa-user-plus"></i>
            <p>Solicitar creción de cuenta</p>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
