{% extends 'Base/Base.html' %}

{% block Title %}
Solicitudes | WASP - TOO115
{% endblock Title %}

{% block contentHeader %}
Solicitudes
{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row justify-content-center" align="center">
  <div class="col-lg-12 col-md col-sm col-xs text-center mt-1" width="50%">
    {% for message in messages %}
    <div class="alert alert-success mt-5 col-sm-3 text-center">
      <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
    {% endfor %}
    <table id="datosTable" class="table table-striped table-dark">
      <thead class="table-dark">
        <tr>
          <th scope="col" align="center">Usuario</th>
          <th scope="col" align="center">Nombres</th>
          <th scope="col" align="center">Apellidos</th>
          <th scope="col" align="center">Estado</th>
          <th scope="col" align="center">Solicitud</th>
          <th scope="col" width="200px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for row in Solicitudes %}
        <tr>
          <td>{{ row.pk }}</td>
          <td>{{ row.nombre }}</td>
          <td>{{ row.apellido }}</td>
          <td>{{ row.is_active }}</td>
          <td>{{ row.solicitud }}</td>
          <td>

            <!--Aprobar-->
            <a href="{% url 'Cuenta:AprobarSolicitud' row.pk %}" class="btn-info btn btn-lg">
              <i class="fa fa-check-circle"></i>
            </a>

            <!--Detalle de usuario-->
            <a href="{% url 'Cuenta:DetalleUsuario' row.pk %}" class="btn-light btn btn-lg">
                <i class="fa fa-id-card-o"></i>
            </a>
              <!--borrar-->
            <button class="btn-danger btn btn-lg" data-toggle='modal' data-target='#deleteModal' data-pk='{{ row.pk }}'>
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
