{% extends 'Base/Base.html' %}
{% load static %}
{% block title %}
Primer inicio de sesión
{% endblock %}

{% block contentHeader %}
Cambiar contraseña
{% endblock %}

{% block navbar %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="" class="nav-link">WASP - TOO115</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  {% if request.user.is_authenticated %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" data-slide="true" href="{% url 'Logout' %}" role="button">
        <i class="fas fa-sign-out"></i> Cerrar sesión
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
      </a>
    </li>
  </ul>
  {% endif %}
</nav>
{% endblock %}


{% block sidebar %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="row justify-content-center" style="background-color: rgb(255, 255, 255)">
    <img src="{% static 'WASP.png' %}" alt="AdminLTE Logo" style="width:50%">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
{% endblock %}

{% block extrastatic %}
<style type="text/css">
  .window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
  }

  .window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="window-notice" id="window-notice">
    <form method="post" class="content">
      {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      <div class="container-fluid border mt-3">
        <div class="card-header">
          <h3 class="card-title">Debe actualizar su contraseña antes de proseguir:</h3>
        </div>
        <div class="card-body">
          <div class="row col-lg-12">
            <div class="form-group col-lg-12">
              <label for="exampleInputEmail1">Contraseña actual:</label>
            </div>
          </div>
            <div class="form-group col-lg-12">
                {{ form.old_password }}
            </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputEmail1">Contraseña nueva:</label>
          </div>
          <div class="form-group col-lg-12">
            {{ form.new_password1 }}
          </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputEmail1">Confirmación de contraseña nueva:</label>
          </div>
          <div class="form-group col-lg-12">
            {{ form.new_password2 }}
          </div>
        </div>
      </div>
      <div class="card-footer mb-3">
        <button type="submit" class="btn btn-info btn-lg border float-right mr-3"><i class="fas fa-save"></i> Guardar</button>
      </div>
</div>
{% endblock %}
