{% extends 'Base/Base.html' %}
{% block Title %}
    Cambio de contraseña
{% endblock Title %}

{% block contentHeader %}
    Ingrese los campos requeridos
{% endblock %}


{% block content %}
<div class="container-fluid col-lg-6">
  <div class="card card-primary">
    <div class="card-header">
      <i class="fas fa-pencil"></i><h3 class="card-title mt-3">Edición de contraseña</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="col-lg-12"role="form" method="post">
      {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      <div class="container-fluid border mt-3">
        <div class="card-body">
          <div class="row col-lg-12">
            <div class="form-group col-lg-12">
              <label for="exampleInputEmail1">Contraseña antigua:</label>
            </div>
          </div>
            <div class="form-group col-lg-12">
                {{ form.old_password }}
            </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputEmail1">Contraseña nueva:</label>
          </div>
          <div class="form-group col-lg-12">
            {{ form.new_password1 }}
          </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputEmail1">Confirmación de contraseña nueva:</label>
          </div>
          <div class="form-group col-lg-12">
            {{ form.new_password2 }}
          </div>
        </div>
      </div>
      <div class="card-footer mb-3">
        <a class="btn btn-danger btn-lg border float-right mr-3" href="{% url 'index' %}"><i class="fas fa-times-circle"></i> Cancelar</a>
        <button type="submit" class="btn btn-info btn-lg border float-right mr-3"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
